<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818661847615-s2c1cco1p8jrjftjecegsd09ipnbd2mt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818661847615-s2c1cco1p8jrjftjecegsd09ipnbd2mt</string>
	<key>API_KEY</key>
	<string>AIzaSyDy0AbOC0bZniKo54qd6Q_Ihdzi2nq_dA0</string>
	<key>GCM_SENDER_ID</key>
	<string>818661847615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medicalProjet</string>
	<key>PROJECT_ID</key>
	<string>medical-projet-licence</string>
	<key>STORAGE_BUCKET</key>
	<string>medical-projet-licence.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818661847615:ios:08983c6321052a421e7e8a</string>
</dict>
</plist>